<h3>List of Containers</h3>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column --> 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <!-- Temperature Column -->
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
      </ng-container>
  
      <!-- Humidity Column -->
      <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity </th>
        <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
      </ng-container>

      <!-- CO2 Column -->
      <ng-container matColumnDef="co2">
          <th mat-header-cell *matHeaderCellDef> CO2 </th>
            <td mat-cell *matCellDef="let element"> {{element.co2}} </td>
        </ng-container>

      <!-- Amp Column -->
      <ng-container matColumnDef="amp">
          <th mat-header-cell *matHeaderCellDef> Amp </th>
            <td mat-cell *matCellDef="let element"> {{element.amp}} </td>
          </ng-container>

      <!-- Row Column -->
      <ng-container matColumnDef="row">
          <th mat-header-cell *matHeaderCellDef> Row </th>
              <td mat-cell *matCellDef="let element"> {{element.row}} </td>
        </ng-container>

      <!-- Column Column -->
      <ng-container matColumnDef="column">
          <th mat-header-cell *matHeaderCellDef> Column </th>
            <td mat-cell *matCellDef="let element"> {{element.column}} </td>
          </ng-container>

      <!-- Ship ID Column -->
      <ng-container matColumnDef="shipId">
          <th mat-header-cell *matHeaderCellDef> Ship ID </th>
            <td mat-cell *matCellDef="let element"> {{element.shipId}} </td>
          </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


