<div class="container-fluid">
  <app-tile id="order" 
  [color]="'#424242'" 
  [title]="'Manage Orders'" 
  [description]="'Access to the order management function'" 
  [buttonName]="'Open'" 
  [urlPath]="'home'">
  </app-tile>
  <app-tile id="land" 
  [color]="'#424242'" 
  [title]="'Land Transportation Simulation'" 
  [description]="'Access to the land transportation function'" 
  [buttonName]="'Open'" 
  [urlPath]="'home'">
  </app-tile>
  <app-tile id="customer" 
  [color]="'#424242'" 
  [title]="'Customs Simulation'" 
  [description]="'Access to the customs function'" 
  [buttonName]="'Open'" 
  [urlPath]="'home'">
  </app-tile>
  <app-tile id="fleets" 
  [color]="'#002699'" 
  [title]="'Manage Fleet'" 
  [description]="'Access to fleet manager'" 
  [buttonName]="'Open'" 
  [urlPath]="'fleets'">
  </app-tile>
</div>
