<div class="container-fluid">
  <div class="row">
    <img src="assets/images/shipment-bp1.png" width=1300px>
  </div>
  <div class="row">
    <app-tile id="order" [color]="'#002699'" [title]="'Initiate Orders - Manufacturer'" [description]="'Access to the order management function'"
      [buttonName]="'Open'" [urlPath]="'orders'">
    </app-tile>
    <app-tile id="land" [color]="'#002699'" [title]="'Shipment Manager - Shipping Inc'" [description]="'Access to the shipment function'"
      [buttonName]="'Open'" [urlPath]="'shipments'">
    </app-tile>
    <app-tile id="customer" [color]="'#424242'" [title]="'Customs Simulation'" [description]="'Access to the customs function'"
      [buttonName]="'Open'" [urlPath]="'home'">
    </app-tile>
    <app-tile id="docker" [color]="'#424242'" [title]="'Docker Simulation'" [description]="'Access to the docker function'"
    [buttonName]="'Open'" [urlPath]="'home'">
  </app-tile>
    <app-tile id="fleets" [color]="'#002699'" [title]="'Shipping: Simulate Blue Water'" [description]="'Access to fleet/ship simulator'"
      [buttonName]="'Open'" [urlPath]="'fleets'">
    </app-tile>
    <app-tile id="containers" [color]="'#002699'" [title]="'List all the containers'" [description]="'Access to the containers'"
    [buttonName]="'Open'" [urlPath]="'containers'">
  </app-tile>
  </div>

</div>