# Default values for kc-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
# repository: us.icr.io/ibmcaseeda/kc-ui

replicaCount: 1
revisionHistoryLimit: 1

image:
  repository: ibmcase/kcontainer-ui
  tag: latest
  pullPolicy: Always
  pullSecret: null
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
livenessProbe:
  initialDelaySeconds: 3000
  periodSeconds: 1000
service:
  name: node
  type: NodePort
  servicePort: 3010
  nodePort: 31010
ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
kafka:
  brokersConfigMap: kafka-brokers
  bluewaterProblemTopicName: bluewaterProblem
  bluewaterShipTopicName: bluewaterShip
eventstreams:
  enabled: true
  apikeyConfigMap: eventstreams-apikey
  caPemFileRequired: false
  caPemFilePath: "/etc/ssl/certs/kcontainer"
  caPemFileName: "es-cert.pem"
  caPemSecretName: es-ca-pemfile
serviceAccountName: default
application:
  fleetServiceHost: fleetms-service
  fleetServicePort: 9080
  orderCommandServiceHost: ordercommandms-service
  orderCommandServicePort: 9080
  orderQueryServiceHost: orderqueryms-service
  orderQueryServicePort: 9080
  voyageServiceHost: voyagesms-service
  voyageServicePort: 3000
