<!-- style="background-image: url(assets/images/banner2.png)-->
<div class="mytopview" style="background-color: #002699">
  <h2 style="color:white">{{title}}</h2>
</div>

<mat-toolbar style=" border-bottom: 2px dotted blue;">
    <a id="home" href="#/home"><i class="material-icons header-icon">home</i></a>
  <span class="header-spacer"></span>
  <a href="https://ibm-cloud-architecture.github.io/refarch-kc"><i class="material-icons header-icon">contact_support</i></a>
  <a href="#/log"><i class="material-icons header-icon">cloud_off</i></a>
</mat-toolbar>
