<!-- Detail view of a ship with the containers layout in a canvas -->

<!-- <div *ngIf="ship">
   <h2>{{ship.name | uppercase}} Details</h2>
   <div><span>Number of Containers: </span>{{ship.numberOfContainers}}</div>
   <div>
     <label>name:
       <input [(ngModel)]="ship.name" placeholder="name">
     </label>
   </div>
</div> -->

<!-- <div><span>Number of Containers: </span>{{ship.numberOfContainers}}</div>
<div>
  <label>name:
    <input [(ngModel)]="ship.name" placeholder="name">
  </label>
</div> -->
<div class="grid-container">
  <div class="row">
      <div class="col-md-6">
          <button class="buttonpad" mat-icon-button color="warn"(click)="simulate(ship)"><mat-icon>waves</mat-icon></button>
      </div>
      <div class="col-md-6">
          <app-simulcontrol [ship]="ship"></app-simulcontrol> 
      </div>
  </div>
  <div class="row">
    <canvas #myCanvas width=1024 height=400></canvas>
  </div>
</div>






<!-- <h2>{{ship.name | uppercase}} Details</h2> -->
<!-- <h2>{{ship.name | uppercase}} Details</h2> -->
