apiVersion: v1
kind: Service
metadata:
  name: "{{  .Chart.Name }}-service"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    protocol: TCP
    port: {{ .Values.service.servicePort }}
    nodePort: {{ .Values.service.nodePort }}
  selector:
    app: {{ template "kc-ui.name" . }}
    release: {{ .Release.Name }}
