
<div class="row">
<h4>Fleets</h4>
<mat-form-field>
  <mat-select placeholder="Select one fleet" [(ngModel)]="selectedFleet" mame="fleet">
    <mat-option *ngFor="let fleet of fleets" [value]="fleet.name">
      {{fleet.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button *ngIf="selectedFleet" (click)="startFleet()">Start Fleet Simulation</button>
<button *ngIf="selectedFleet" (click)="stopFleet()">Stop Fleet Simulation</button>
</div>
<div class="row">
 
<app-ships *ngIf="selectedFleet" fleetName={{selectedFleet}}></app-ships>
</div>